<% @site = Site.find(1) %>

  <div class="row">
		<div class="col-sm">

			<h1><%#= @site.name %><small class="text-muted"> Components</small></h1>

        <hr>
        <!-- IN PROGRESS PILL NAV FILTER LISTING BY GROUP -->
        <% @componentgroups = ComponentGroup.all %>
        <!-- <ul class="nav nav-pills">
          <% @componentgroups.each do |group| %>
          <li class="nav-item">
            <a class="nav-link disabled" href="#"><%= group.name %></a>
          </li>
          <% end %>
        </ul> -->

    </div>
  </div>




        <% @components = Component.all %>
        <% @components.each do |component| %>
        <% @templates = TemplateComponent.order(:position).includes(:component, :template).references(:component, :template).where ({component_id: component.id})  %>
  <div class="row">
          <div class="col-sm-3">
            <p>Applies to Templates:<br>
              <%#= safe_join ( @templates.all.map { |x| [link_to(x.template.name, templatedetail_path(id: => x.template.id, site: => @site.id)),"<br>".html_safe] }) %>
              <% @templates.each do |t| %>
                <%= link_to t.template.name, templatedetail_path(:id => t.template.id, :site => @site.id) %><br>
                <% end %>
          </div>
          <div class="col-sm-4">
            <h5><%= component.name %><br><small class="text-muted">Group: <%= component.component_group.name %></small></h5>
            <% if component.invision_link.blank? %>
            <% else %>
            <p><small class="text-muted"><strong>Invision Link</strong></small></p>
            <p><small class="text-muted"><%=raw component.invision_link %></small></p>
            <% end %>

            <% if component.requirements.blank? %>
            <% else %>
            <p><small class="text-muted"><strong>Requirements</strong></small></p>
            <p><small class="text-muted"><%=raw component.requirements %></small></p>
            <% end %>

            <% if component.full_width.blank? %>
            <% else %>
            <p><small class="text-muted"><strong>Full Width:</strong> <%=raw component.full_width %></small></p>
            <% end %>

            <% if component.personalization_rules.blank? %>
            <% else %>
            <p><small class="text-muted"><strong>Personalization</strong> <%=raw component.personalization_rules %></small></p>
            <% end %>

            <% if component.data.blank? %>
            <% else %>
            <p><small class="text-muted"><strong>Data</strong></small></p>
            <p><small class="text-muted"><%=raw component.data %></small></p>
            <% end %>

            <% if component.allowed_controls.blank? %>
            <% else %>
            <p><small class="text-muted"><strong>Allowed Controls</strong></small></p>
            <p><small class="text-muted"><%=raw component.allowed_controls %></small></p>
            <% end %>

            <% if component.description.blank? %>
            <% else %>
            <p><small class="text-muted"><strong>Description</strong></small></p>
            <p><small class="text-muted"><%=raw component.description %></small></p>
            <% end %>

          </div>
          <div class="col-sm-5">
            <% if component.image.blank? %>
            <% else %>
            <img src="http://contentmodel-jci-assets.s3.amazonaws.com/images/components/<%= component.image %>" width="100%">
            <% end %>
          </div>
	</div>
  <hr>
            <% end %>



  <div class="row">
    <div class="col-sm">

              <%= render "footer" %>

    </div>
  </div>
