<%  @component = Component.find(params[:id])
    @template = ::Template.find(params[:template])
    @site = Site.find(params[:site])





%>

  <div class="row">
		<div class="col-sm-3">

      <%= render "siteMap" %>


			<h3>Notes</h3>

      <!-- Display Component relationships -->
            <p>Component: <br><%= @component.name %>

              <p>Components:
              <% @cinstance = TemplateComponent.order(:position).includes(:component, :template).references(:component, :template).where ({template_id: @template.id}) %>
              <ol>
                <!-- top version includes component instance ID for debugging -->
                <%#= safe_join ( @cinstance.all.map { |x| ["<li>".html_safe, x.id, " ", link_to(x.component.name, text_item_index_path(:id => x.component.id, :instance => x.id, :template => x.template.id, :page => @thispage.id, :site => @site.id)),"</li>".html_safe] }) %>
                <%= safe_join ( @cinstance.all.map { |x| ["<li>".html_safe, link_to(x.component.name, component_path(:id => x.component.id, :template => x.template.id, :site => @site.id)),"</li>".html_safe] }) %>
              </ol>
              </p>

              <p>Template: <br><%= link_to @template.name, templatedetail_path(:id => @template.id, :site => @site.id ) %>
                  <p>Site: <br><%= link_to @site.name, templatelist_path(:id => @site.id) %>

		</div>
		<div class="col-sm-9">
			<h1>Component</h1>


<!-- Component guidelines -->
      <div class="card">
        <div class="card-header">
          <h3><%= @component.name %></h3>
        </div>
        <div class="card-body">
          <span class="badge badge-secondary" style="margin-bottom: 20px;">Component Text Elements</span><br>
          <%# @pagetext = TextItem.order(:order).where ({page_id: nil , component_id: @component.id}) %>
          <% @component.text_items.each do |textitem| %>
            <<%= textitem.text.name %>><%= textitem.name %></<%= textitem.text.name %>>
          <% end %>

          <table class="table table-hover" style="margin-top:30px;">
            <thead>
              <tr>
                <th scope="col">Attribute</th>
                <th scope="col">Description</th>
              </tr>
            </thead>
            <tbody>
              <% if @component.invision_link.blank? %>
              <% else %>
              <tr>
                <td valign="top"><small class="text-muted"><strong>Design Link</strong></small></td>
                <td><i><%= link_to @component.invision_link, @component.invision_link, target: "_blank" %></i></td>
              </tr>
              <% end %>

              <% if @component.image_sizes.blank? %>
              <% else %>
              <tr>
                <td valign="top"><small class="text-muted"><strong>Image Sizes</strong></small></td>
                <td valign="top"><%= image_tag(@component.image_sizes, width: '100%', alt: "Image Sizes") %></td>
              </tr>
              <% end %>

              <% if @component.page.blank? %>
              <% else %>
              <tr>
                <td valign="top"><small class="text-muted"><strong>Page</strong></small></td>
                <td valign="top"><small class="text-muted"><%= @component.page %></small></td>
              </tr>
              <% end %>

              <% if @component.requirements.blank? %>
              <% else %>
              <tr>
                <td valign="top"><small class="text-muted"><strong>Requirements</strong></small></td>
                <td valign="top"><small class="text-muted"><%=raw @component.requirements %></small></td>
              </tr>
              <% end %>

              <% if @component.interaction_notes.blank? %>
              <% else %>
              <tr>
                <td valign="top"><small class="text-muted"><strong>Interaction Notes</strong></small></td>
                <td valign="top"><small class="text-muted"><%=raw @component.interaction_notes %></small></td>
              </tr>
              <% end %>

              <% if @component.full_width.blank? %>
              <% else %>
              <tr>
                <td valign="top"><small class="text-muted"><strong>Full Width:</strong></td>
                <td valign="top"><small class="text-muted"><% if @component.full_width == 1 %>Yes<% else %>No<% end %></small></td>
              </tr>
              <% end %>

              <% if @component.personalization_rules.blank? %>
              <% else %>
              <tr>
                <td valign="top"><small class="text-muted"><strong>Personalization</strong></small></td>
                <td valign="top"><small class="text-muted"><%=raw @component.personalization_rules %></small></td>
              </tr>
              <% end %>

              <% if @component.data.blank? %>
              <% else %>
              <tr>
                <td valign="top"><small class="text-muted"><strong>Data</strong></small></td>
                <td valign="top"><small class="text-muted"><%=raw @component.data %></small></td>
              </tr>
              <% end %>

              <% if @component.allowed_controls.blank? %>
              <% else %>
              <tr>
                <td valign="top"><small class="text-muted"><strong>Allowed Controls</strong></small></td>
                <td valign="top"><small class="text-muted"><%=raw @component.allowed_controls %></small></td>
              </tr>
              <% end %>

              <% if @component.need_info.blank? %>
              <% else %>
              <tr>
                <td valign="top"><small class="text-muted"><strong>Need Info</strong></small></td>
                <td valign="top"><small class="text-muted"><% if @component.need_info == "x" %>Yes<% else %>No<% end %></small></td>
              </tr>
              <% end %>

              <% if @component.design_questions.blank? %>
              <% else %>
              <tr>
                <td valign="top"><small class="text-muted"><strong>Design Questions</strong></small></td>
                <td valign="top"><small class="text-muted"><%=raw @component.design_questions %></small></td>
              </tr>
              <% end %>

              <% if @component.dev_notes.blank? %>
              <% else %>
              <tr>
                <td valign="top"><small class="text-muted"><strong>Dev Notes</strong></small></td>
                <td valign="top"><small class="text-muted"><%=raw @component.dev_notes %></small></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>


		</div>
	</div>
  	<hr>
  <div class="row">
    <div class="col-sm">

              <%= render "footer" %>

    </div>
  </div>
