<% @thislegacysite = ::LegacySite.find(params[:id])%>

  <div class="row">
		<div class="col-xs-4">



			<h3>Notes</h3>

		</div>
		<div class="col-xs-8">
			<h1><%= @thislegacysite.name %></h1>
      <% @sitepages = SiteCrawl.order(:address).where site_id: (params[:id]) %>
      <%= semantic_form_for @sitecrawl do |f| %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Retain</th>
            <th scope="col">Update</th>
            <th scope="col">Retire</th>
            <th scope="col">Page</th>
            <th scope="col">ID</th>
          </tr>
        </thead>
        <tbody>

        <% @sitepages.each do |site|  %>
        <tr>
          <td><%= f.input :rot, :as => :radio %></td>
          <td><%= f.input :rot, :as => :radio %></td>
          <td><%= f.input :rot, :as => :radio %></td>
          <td><%= link_to site.address, site.address, target: :_blank %></td>
          <td><%= site.id %></td>
        </tr>

        <% end %>
        </tbody>
      </table>
      <% end %>
		</div>
	</div>
  	<hr>
  <div class="row">
    <div class="col-xs-12">

              <%= render "footer" %>

    </div>
  </div>
