
<% @thispage = Page.find(params[:id])


    %>
  <div class="row">
    <div class="col-xs-12">
      <div class="alert alert-warning" role="alert">
        This page is under development for functional enhancements. Areas may appear empty or broken.
      </div>
    </div>
  </div>
  <div class="row">
		<div class="col-xs-4">

            <%= render "siteMap" %>

      <!-- <p>User Workflow > Template
      <p>Breadcrumbs > Information Architecture path
        <hr> -->
      <h3>Notes</h3>
      <p><i>This page will be joined to Page Template. Template structure will dictate the content components and items contained on this page.</i></p>
          <hr>

			<h3>Messaging</h3>
        <p><i>Display messaging hierarchy from Page Template, then page-specific messaging related to the content on this page.</i></p>
        <hr>
      <h3>Tags</h3>
      <% @pagetags = TagMapping.where page_id: (params[:id]) %>
      <% @pagetags.each do |t| %>
            <a href="#" class="badge badge-info"><%= t.tag.name %></a>
      <% end %>

      <h3>SEO Terms</h3>
      <% @pageterms = SeoMapping.where page_id: (params[:id]) %>
      <% @pageterms.each do |s| %>
          <%= s.term.name + (", ").html_safe %>
      <% end %>

      <!-- <h3>Desired Actions</h3> -->
		</div>
		<div class="col-xs-8">
      <h6><%= @thispage.name %></h6>
      <hr>
        <% @pagetext = TextItem.order(:order).where page_id: (params[:id]) %>
        <% @pagetext.each do |pt| %>
            <<%= pt.text.name %>><%#= pt.order %><%= pt.itemtext %></<%= pt.text.name %>>
        <% end %>



		</div>
	</div>
  	<hr>
  <div class="row">
    <div class="col-xs-12">

              <%= render "footer" %>

    </div>
  </div>
