
<% @thispage = Page.find(params[:id])


    %>
  <div class="row">
		<div class="col-xs-4">
      <p>Johnson Controls >
        <%= @thispage.site.name %>

        <hr>
      <!-- <p>User Workflow > Template
      <p>Breadcrumbs > Information Architecture path
        <hr> -->
			<h3>Messaging</h3>
			<p>Messaging direction for this page, at the given level within the IA.</p>
      <% @pagemessage = HierarchyMapping.where page_id: (params[:id]) %>
      <% @pagemessage.each do |h| %>
          <%= h.hierarchy.name.html_safe %><br>
      <% end %>
        <hr>
      <h3>Tags</h3>
      <% @pagetags = TagMapping.where page_id: (params[:id]) %>
      <% @pagetags.each do |t| %>
          <%= t.tag.name + (", ").html_safe %>
      <% end %>

      <h3>SEO Terms</h3>
      <% @pageterms = SeoMapping.where page_id: (params[:id]) %>
      <% @pageterms.each do |s| %>
          <%= s.term.name + (", ").html_safe %>
      <% end %>

      <!-- <h3>Desired Actions</h3> -->
		</div>
		<div class="col-xs-8">

      <h1>Page</h1>

      <h2><%= @thispage.name %></h2></h5>
      <p>
        <% @pagetext = TextItem.order(:order).where page_id: (params[:id]) %>
        <% @pagetext.each do |pt| %>
            <<%= pt.text.name %>><%#= pt.order %><%= pt.itemtext %></<%= pt.text.name %>>
        <% end %>
      </p>



		</div>
	</div>
  	<hr>
  <div class="row">
    <div class="col-xs-12">
      <footer>
        <p>Content Model v.0.1</p>
      </footer>
    </div>
  </div>
