
<% @thispage = Page.find(params[:id])
   @site = Site.find(params[:site])





    %>
  <!-- <div class="row">
    <div class="col-sm">
      <div class="alert alert-warning" role="alert">
        This page is under development for information display.
      </div>
    </div>
  </div> -->
  <div class="row">
		<div class="col-sm-3">

            <%= render "siteMap" %>

      <!-- <p>User Workflow > Template
      <p>Breadcrumbs > Information Architecture path
        <hr> -->


          <% @thispage.templates.each do |b| %>

          <h5>Template</h5>
          <p><%= link_to b.name, templatedetail_path(:id => b.id, :site => @site.id) %></p>

              <!-- display Messaging Hierarchy assigned to the template for this page -->
              <% b.hierarchies.each do |h| %>
                <h5>Messaging</h5>
                <strong class="text-muted"><%= h.name %></strong>
                <p><small class="text-muted"><%= h.description %></small></p>
              <% end %>
          <% end %>

      <% @thispage.templates.each do |a| %>
      <h5>Template Components</h5>
        Click to view detail and customize template content for page.</small>

        <% @cinstance = TemplateComponent.order(:position).includes(:component, :template).references(:component, :template).where ({template_id: a.id}) %>
        <ol>
          <!-- top version includes component instance ID for debugging -->
          <%#= safe_join ( @cinstance.all.map { |x| ["<li>".html_safe, x.id, " ", link_to(x.component.name, text_item_index_path(:id => x.component.id, :instance => x.id, :template => x.template.id, :page => @thispage.id, :site => @site.id)),"</li>".html_safe] }) %>
          <%= safe_join ( @cinstance.all.map { |x| ["<li>".html_safe, link_to(x.component.name, text_item_index_path(:id => x.component.id, :instance => x.id, :template => x.template.id, :page => @thispage.id, :site => @site.id)),"</li>".html_safe] }) %>
        </ol>
      <% end %>

      <!-- <h3>Desired Actions</h3> -->
		</div>
		<div class="col-sm-9">
      <!-- hack to display the page name if not yet associated with a template (all pages should be associated with a template) -->
      <% if @thispage.templates.empty? %>
        <h1><%= @thispage.name %></h1>
        <p class="text-muted">This page requires template and content configuration.</p>
      <% end %>

      <% @thispage.templates.each do |c| %>

      <h1><%= @thispage.name %></h1>

            <hr>

      <h5>Tags</h5>
      <% @pagetags = TagMapping.where page_id: (params[:id]) %>
        <% if @pagetags.empty? %>
          <p class="text-muted">No tags assigned.</p>
        <% end %>
      <% @pagetags.each do |t| %>
            <a href="#" class="badge badge-info"><%= t.tag.name %></a>
      <% end %>
        <hr>
      <!-- <h5>SEO Terms</h5>
      <%# @pageterms = SeoMapping.where page_id: (params[:id]) %>
        <%# if @pageterms.empty? %>
          <p class="text-muted">No SEO terms assigned.</p>
        <%# end %>
      <%# @pageterms.each do |s| %>
          <%#= s.term.name + (", ").html_safe %>
      <%# end %>
            <%#= form_with model: @page do |f| %>
                  <%#= f.hidden_field :page_id, value: @thispage.id %>
                  <div class="row">
                    <%#= f.label :terms %>
                    <%#= f.select :seo_term_id,
                      SeoTerm.all.map { |k| [k.term, k.id] },
                                      { include_blank: true },
                                      { :multiple => true, class: 'chosen-select' }
                    %>
                  </div>

                  <div class="row">
                    <%#= f.submit "Save Terms" %>
                  </div>
            <%# end %>

        <hr>-->


      <h5>Page Content</h5>


      <% @cinstance.each do |pc| %>
      <% @pagetext = TextItem.order(:order).includes(:component).references(:component).where ({page_id: @thispage.id, component_id: pc.component.id, template_component_id: pc.id}) %>

      <div class="card-group">

        <% case pc.component.name %>
        <% when "Product Card" %>
            <div class="card" style="margin-bottom:15px;">
              <div class="card-body">
                <%= link_to pc.component.name, text_item_index_path(:id => pc.component.id, :instance => pc.id, :template => pc.template.id, :page => @thispage.id, :site => @site.id), :class => "badge badge-secondary", :style => "margin-bottom:10px;",  :title => "Edit "+pc.component.name %></br>
                <% @pagetext.each do |pt| %>
                  <!-- <small class="text-muted">TextInstanceID <%=pt.id %></small></br> -->
                  <<%= pt.text.name %>><%#= pt.order %><%= pt.itemtext %></<%= pt.text.name %>
                <% end %>
              </div>
            </div>
        <% when "Solution Card" %>
            <div class="card" style="margin-bottom:15px;">
              <div class="card-body">
                <%= link_to pc.component.name, text_item_index_path(:id => pc.component.id, :instance => pc.id, :template => pc.template.id, :page => @thispage.id, :site => @site.id), :class => "badge badge-secondary", :style => "margin-bottom:10px;",  :title => "Edit "+pc.component.name %></br>
                <% @pagetext.each do |pt| %>
                  <!-- <small class="text-muted">TextInstanceID <%=pt.id %></small></br> -->
                  <<%= pt.text.name %>><%#= pt.order %><%= pt.itemtext %></<%= pt.text.name %>>
                <% end %>
              </div>
            </div>


        <% else %>

          <div class="card" style="margin-bottom:15px;">
            <div class="card-body">
            <!-- <small class="text-muted">ComponentInstanceID <%= pc.id %> | PageID <%= @thispage.id %></small></br> -->
              <%= link_to pc.component.name, text_item_index_path(:id => pc.component.id, :instance => pc.id, :template => pc.template.id, :page => @thispage.id, :site => @site.id), :class => "badge badge-secondary", :style => "margin-bottom:10px;", :title => "Edit "+pc.component.name %></br>
              <% @pagetext.each do |pt| %>
                <!-- <small class="text-muted">TextInstanceID <%=pt.id %></small></br> -->
                <small class="text-muted">Character Count: <%= pt.itemtext.size %></small><br>
                <<%= pt.text.name %>><%#= pt.order %><%= pt.itemtext %></<%= pt.text.name %>>
            <% end %>
            </div>
          </div>

        <% end %>
      </div>
      <% end %>

      <!-- below is the closing tag for the templates.each do |c| -->
      <% end %>
		</div>
	</div>
  	<hr>
  <div class="row">
    <div class="col-sm">

              <%= render "footer" %>

    </div>
  </div>
