
<% @thispage = Page.find(params[:id])





    %>
  <div class="row">
    <div class="col-xs-12">
      <div class="alert alert-warning" role="alert">
        This page is under development for functional enhancements. Areas may appear empty or broken.
      </div>
    </div>
  </div>
  <div class="row">
		<div class="col-xs-4">

            <%= render "siteMap" %>

      <!-- <p>User Workflow > Template
      <p>Breadcrumbs > Information Architecture path
        <hr> -->
      <h3>Notes</h3>
      <p><i></i></p>
          <hr>

      <h3>Tags</h3>
      <% @pagetags = TagMapping.where page_id: (params[:id]) %>
      <% @pagetags.each do |t| %>
            <a href="#" class="badge badge-info"><%= t.tag.name %></a>
      <% end %>
          <hr>
      <h3>SEO Terms</h3>
      <% @pageterms = SeoMapping.where page_id: (params[:id]) %>
      <% @pageterms.each do |s| %>
          <%= s.term.name + (", ").html_safe %>
      <% end %>

      <!-- <h3>Desired Actions</h3> -->
		</div>
		<div class="col-xs-8">
      <!-- hack to display the page name if not yet associated with a template (all pages should be associated with a template) -->
      <% if @thispage.templates.empty? %>
        <h1><%= @thispage.name %></h1>
      <% end %>
      <% @thispage.templates.each do |c| %>
          <span class="badge badge-light">Template</span> <%= link_to c.name, templatedetail_path(c.id) %>

      <h1><%= @thispage.name %></h1>

          <!-- display Messaging Hierarchy assigned to the template for this page -->
          <% c.hierarchies.each do |h| %>
            <h5><span class="badge badge-light">Message Hierarchy</span> <%= h.name %></h5>
            <%= h.description %>
          <% end %>



      <hr>
        <% @pagetext = TextItem.order(:order).where page_id: (params[:id]) %>
        <% @pagetext.each do |pt| %>
            <<%= pt.text.name %>><%#= pt.order %><%= pt.itemtext %></<%= pt.text.name %>>
        <% end %>

     <!-- below is the closing tag for the templates.each do |c| -->
     <% end %>
		</div>
	</div>
  	<hr>
  <div class="row">
    <div class="col-xs-12">

              <%= render "footer" %>

    </div>
  </div>
