

  <div class="row">
		<div class="col-xs-12">

      <%= render "siteMap" %>

      <% @site = Site.find(params[:id]) %>
      <%= content_tag "div", id: "site", data: {site: @site.id} do %>
      <% end %>
      <%= content_tag "div", id: "type", data: {type: "sitemap"} do %>
      <% end %>

      <h1>Site Map<small class="text-muted"> <%= @site.name %></small></h1>

            <div id="tree"></div>

		</div>
	</div>
  	<hr>
  <div class="row">
    <div class="col-xs-12">

              <%= render "footer" %>

    </div>
  </div>
