

  <div class="row">
		<div class="col-xs-4">

              <%= render "siteTaxonomy" %>

			<h3>Notes</h3>


		</div>
		<div class="col-xs-8">



      <% @site = Site.find(params[:id]) %>
      <% @sitetags = Tag.joins( :site_tag_mappings ).where( site_tag_mappings: { site_id: (params[:id]) }) %>
			<h1>Taxonomy<small class="text-muted"> <%= @site.name %></small></h1>

              <% @tags = @sitetags.arrange %>
              <%= arranged_tree_as_list(@tags, {:list_style => :bootstrap_list_group}) do |tag| %>

                  <%= tag.name %>

              <% end %>


              <svg id="flare"></svg>

		</div>
	</div>
  	<hr>
  <div class="row">
    <div class="col-xs-12">

        <%= render "footer" %>

    </div>
  </div>
