

  <div class="row">
    <!-- left column -->
		<div class="col-sm-3">

      <%= render "siteContentModel" %>


		</div>
    <!-- right column -->
		<div class="col-sm-9">
      <% @templatelist = ::Template.joins( :site_template_mappings ).where( site_template_mappings: { site_id: (params[:id]) }).order(:name) %>
      <% @site = Site.find(params[:id]) %>
      <h1>Templates<small class="text-muted"> <%= @site.name %></small></h1>
      <div class="row">
        <div class="col-8 col-sm-8">
          <ol>
      <% @templatelist.each do |tl| %>
            <li><%= link_to tl.name, templatedetail_path(:id => tl.id, :site => @site.id) %>
              <% if tl.existing == true %>
              <span class="badge badge-light">Existing</span>
              <% else %>
              <% end %>
              <% if tl.image.blank? %>
              <% else %>
                  <% if tl.image.include? "invision" %>
                      &nbsp;| <%= link_to "View Comp", tl.image, target: "_blank" %><br>
                      <% else %>
                      <br><img src="<%= tl.image %>" height="200">
                      <% end %>
              <% end %>
            </li>
            <% end %>
          </ol>
          </div>
        </div>
        <div class="col-8 col-sm-2">
        </div>
      </div>




    </div>


	</div>
  	<hr>
  <div class="row">
    <div class="col-sm">

        <%= render "footer" %>

    </div>
  </div>
