
<% @thistemplate = ::Template.find(params[:id])



    %>
  <div class="row">
		<div class="col-xs-4">

      <%= render "siteContentModel" %>

        <hr>
      <!-- <p>User Workflow > Template
      <p>Breadcrumbs > Information Architecture path
        <hr> -->
      <h4>Page Purpose</h4>
      <p><%= @thistemplate.page_purpose %></p>
      <hr>
      <h4>Messaging</h4>
      <% @templatemessage = HierarchyMapping.where template_id: (params[:id]) %>
      <% @templatemessage.each do |h| %>
          <p><%= h.hierarchy.name.html_safe %>
          <p><%= h.hierarchy.description.html_safe %>
      <% end %>
        <hr>
			<h4>Audience</h4>
      <%= @thistemplate.audience %>
        <hr>
      <h4>KPI</h4>
        <%= @thistemplate.kpi %>
      <hr>
      <h4>Likely Task</h4>
      <%= @thistemplate.likely_task %>
        <hr>
      <h4>Personalization Needs</h4>
      <%= @thistemplate.personalization_needs %>
        <hr>
      <h4>Creation Guidelines</h4>
      <%= @thistemplate.creation_guidelines %>

		</div>
		<div class="col-xs-8">
      <h1><%= @thistemplate.name %>

        <% if @thistemplate.existing == true %>
        <span class="badge badge-light">Existing</span>
        <% else %>
        <% end %>
        <small class="text-muted">Page Template
          <% if @thistemplate.image.blank? == false %>
           / <a href="<%= @thistemplate.image %>" target="_blank">view layout</a>
          <% else %>
          <% end %>
        </small>
      </h1>

          <ol class="breadcrumb">
          <% @thistemplate.components.each do |b| %>
              <li class="breadcrumb-item"><a href="#<%= b.name %>"><%= b.name %></a></li>
          <% end %>
          </ol>

        <% @thistemplate.components.each do |c| %>
            <a id="<%= c.name %>"></a>
            <h3><%= c.name %> <% if c.componenttype_id == 1 %>
                      <span class="badge badge-light">Existing</span>
                    <% else %>
                    <% end %>
                    <% if c.componenttype_id == 2 %>
                      <span class="badge badge-light">Existing->Update</span>
                    <% else %>
                    <% end %><small class="text-muted">Component</small></h3>

            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Attribute</th>
                  <th scope="col">Description</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">Goal</td>
                  <td><i><%= c.goal %></i></td>
                </tr>
                <tr>
                  <td scope="row">Description</td>
                  <td><i><%= c.description %></i></td>
                </tr>
                <tr>
                  <td scope="row">CTA</td>
                  <td><i><%= c.cta %></i></td>
                </tr>
                <tr>
                  <td scope="row">Content Assets</td>
                  <td><i><%= c.content_assets %></i></td>
                </tr>
              </tbody>
            </table>



                <!-- <% c.text_items.each do |t| %>
                      <h5 class="text-info"><%= t.name %> <small class='text-muted'>Item</small></h5>
                         <p><%= t.itemtext %> </p>
                <% end %> -->
        <% end %>



		</div>
	</div>
  	<hr>
  <div class="row">
    <div class="col-xs-12">

        <%= render "footer" %>

    </div>
  </div>
