
<% @thistemplate = ::Template.find(params[:id])
   @site = Site.find(params[:site])



    %>
  <div class="row">
		<div class="col-sm-3">


      <%= render "siteContentModel" %>

      <hr>


      <h4>Messaging</h4>
      <% @templatemessage = HierarchyMapping.where template_id: (params[:id]) %>
      <% @templatemessage.each do |h| %>
          <h5><%= h.hierarchy.name.html_safe %></h5>
          <p><%= h.hierarchy.description.html_safe %>
              <p><%= link_to "Audience Message Guide", "#myModal", :class => "btn btn-info align-center", "data-toggle" => "modal" %>
                <!-- , "#my-modal", :class => "btn", "data-toggle" => "modal"  -->
                      <!-- Modal -->
                      <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h3 class="modal-title"><small><%= @site.name %></small><br><%= h.hierarchy.name.html_safe %></h3>
                            </div>
                            <div class="modal-body">

                              <table class="table table-hover">
                                <thead>
                                  <tr>
                                    <th scope="col">Audience</th>
                                    <th scope="col">Message</th>
                                  </tr>
                                </thead>
                                <tbody>


                                <% @audiencemessage = AudienceMessage.joins(:audience, :site).where(hierarchy_id: h.hierarchy.id, site_id: @site.id) %>
                                <% @audiencemessage.each do |m| %>
                                  <tr>
                                    <td scope="row" width="30%"><h4><%= m.audience.name %></h4></td>
                                    <td><p><%= m.message %></p></td>
                                  </tr>
                                <% end %>

                              </tbody>
                            </table>


                              <!-- <p><img style="width:100%;" src="http://contentmodel-jci-assets.s3.amazonaws.com/images/WebFootprint_HighLevel_v4.png"></p> -->
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>

                        </div>
                      </div>




      <% end %>
        <hr>

        <h5 style="margin-top:30px;">Components</h5>
        <% @cinstance = TemplateComponent.order(:position).includes(:component, :template).references(:component, :template).where ({template_id: @thistemplate.id}) %>
        <ol>
          <!-- top version includes component instance ID for debugging -->
          <%#= safe_join ( @cinstance.all.map { |x| ["<li>".html_safe, x.id, " ", link_to(x.component.name, text_item_index_path(:id => x.component.id, :instance => x.id, :template => x.template.id, :page => @thispage.id, :site => @site.id)),"</li>".html_safe] }) %>
          <%= safe_join ( @cinstance.all.map { |x| ["<li>".html_safe, link_to(x.component.name, component_path(:id => x.component.id, :template => x.template.id, :site => @site.id)),"</li>".html_safe] }) %>
        </ol>





		</div>
		<div class="col-sm-9">
      <h1><%= @thistemplate.name %>

        <% if @thistemplate.existing == true %>
        <span class="badge badge-light">Existing</span>
        <% else %>
        <% end %>
        <br><small class="text-muted">Page Template        </small>
      </h1>

      <% if @thistemplate.document.blank? == false %>
      <%#= link_to "Download Page Requirements Document (PRD)", @thistemplate.document, :class => "btn btn-info", target: "_blank" %>
      <% else %>
      <% end %>

      <% if @thistemplate.image.blank? == false %>
      <%= link_to "See the Design Comp", @thistemplate.image, :class => "btn btn-info", target: "_blank" %>
      <% else %>
      <% end %>

      <% if @thistemplate.image_sizes.blank? == false %>
      <%= link_to "Image Sizes", @thistemplate.image_sizes, :class => "btn btn-info", target: "_blank" %>
      <% else %>
      <% end %>
      <hr>
      <h4>Definition</h4>
      <p><%= @thistemplate.definition.html_safe %></p>
      <hr>


      <% @cinstance = TemplateComponent.order(:position).includes(:component, :template).references(:component, :template).where ({template_id: @thistemplate.id}) %>

      <% @cinstance.each do |c| %>
        <div class="card" style="margin-bottom:15px; background-color:<%= c.component.component_group.color %>">
          <div class="card-body">
            <h5 class="card-title"><%= c.component.name %>&nbsp;<span class="badge badge-light"><%= c.component.component_group.name %></span></h5>
            <p class="card-text"><%= c.component.goal %>
          </div>
        </div>
      <% end%>

      <% @audienceinstance = TemplateAudienceMapping.includes(:audience, :template).references(:audience, :template).where ({template_id: @thistemplate.id}) %>
      <% if @audienceinstance.blank? == false %>
      <hr>
        <h4>Who is this page for?</h4>
            <ol>
              <!-- top version includes component instance ID for debugging -->
              <%#= safe_join ( @cinstance.all.map { |x| ["<li>".html_safe, x.id, " ", link_to(x.component.name, text_item_index_path(:id => x.component.id, :instance => x.id, :template => x.template.id, :page => @thispage.id, :site => @site.id)),"</li>".html_safe] }) %>
              <%= safe_join ( @audienceinstance.all.map { |ai| ["<li>".html_safe, ai.audience.name,"</li>".html_safe] }) %>
            </ol>
      <% else %>
      <% end %>

      <% if @thistemplate.user_needs.html_safe.blank? == false %>
      <hr>
        <h4>What problem(s) does this solve for the user?</h4>
        <p><%= @thistemplate.user_needs.html_safe %></p>
      <% else %>
      <% end %>

      <% @spinstance = TemplateStrategicPillarMapping.order(:position).includes(:goals_strategy_pillar, :template).references(:goals_strategy_pillar, :template).where ({template_id: @thistemplate.id}) %>
      <% if @spinstance.blank? == false %>
      <hr>
        <h4>Related Strategic Pillars</h4>
        <ul>
          <!-- top version includes component instance ID for debugging -->
          <%#= safe_join ( @cinstance.all.map { |x| ["<li>".html_safe, x.id, " ", link_to(x.component.name, text_item_index_path(:id => x.component.id, :instance => x.id, :template => x.template.id, :page => @thispage.id, :site => @site.id)),"</li>".html_safe] }) %>
          <%= safe_join ( @spinstance.all.map { |sp| ["<li>".html_safe, sp.goals_strategy_pillar.name,"</li>".html_safe] }) %>
        </ul>
      <% else %>
      <% end %>

      <% if @thistemplate.success_longterm.blank? && @thistemplate.success_shortterm.blank? == false %>
      <hr>
      <h4>How will we measure success?</h4>
        <% if @thistemplate.success_shortterm.blank? == false %>
          <h5>Short term:</h5>
          <p><%= @thistemplate.success_shortterm.html_safe %></p>
        <% else %>
        <% end %>
        <% if @thistemplate.success_longterm.blank? == false %>
          <h5>Long term:</h5>
          <p><%= @thistemplate.success_longterm.html_safe %></p>
        <% else %>
        <% end %>
      <% else %>
      <% end %>


      <% @bginstance = TemplateBusinessGoalMapping.order(:position).includes(:goals_business, :template).references(:goals_business, :template).where ({template_id: @thistemplate.id}) %>
      <% if @bginstance.blank? == false %>
      <hr>
        <h4>Related Business Goals</h4>
          <% @bginstance = TemplateBusinessGoalMapping.order(:position).includes(:goals_business, :template).references(:goals_business, :template).where ({template_id: @thistemplate.id}) %>
          <ul>
            <!-- top version includes component instance ID for debugging -->
            <%#= safe_join ( @cinstance.all.map { |x| ["<li>".html_safe, x.id, " ", link_to(x.component.name, text_item_index_path(:id => x.component.id, :instance => x.id, :template => x.template.id, :page => @thispage.id, :site => @site.id)),"</li>".html_safe] }) %>
            <%= safe_join ( @bginstance.all.map { |bg| ["<li>".html_safe, bg.goals_business.name.html_safe,"</li>".html_safe] }) %>
          </ul>
      <% else %>
      <% end %>

      <% @cginstance = TemplateCustomerGoalMapping.order(:position).includes(:goals_customer, :template).references(:goals_customer, :template).where ({template_id: @thistemplate.id}) %>
      <% if @cginstance.blank? == false %>
      <hr>
        <h4>Related Customer Goals</h4>
          <ul>
            <!-- top version includes component instance ID for debugging -->
            <%#= safe_join ( @cinstance.all.map { |x| ["<li>".html_safe, x.id, " ", link_to(x.component.name, text_item_index_path(:id => x.component.id, :instance => x.id, :template => x.template.id, :page => @thispage.id, :site => @site.id)),"</li>".html_safe] }) %>
            <%= safe_join ( @cginstance.all.map { |cg| ["<li>".html_safe, cg.goals_customer.name.html_safe,"</li>".html_safe] }) %>
          </ul>
      <% else %>
      <% end %>

      <% if  @thistemplate.legacy_reference.blank? == false %>
      <hr>
        <h4>References</h4>
        <p><%= @thistemplate.legacy_reference.html_safe %></p>
      <% else %>
      <% end %>

      <% @usinstance = TemplateUserStoryMapping.order(:position).includes(:user_story, :template).references(:user_story, :template).where ({template_id: @thistemplate.id}) %>
      <% if  @usinstance.blank? == false %>
      <hr>
        <h4>Core functions required</h4>
          <h5>User Stories</h5>
          <ul>
            <!-- top version includes component instance ID for debugging -->
            <%#= safe_join ( @cinstance.all.map { |x| ["<li>".html_safe, x.id, " ", link_to(x.component.name, text_item_index_path(:id => x.component.id, :instance => x.id, :template => x.template.id, :page => @thispage.id, :site => @site.id)),"</li>".html_safe] }) %>
            <%= safe_join ( @usinstance.all.map { |cg| ["<li>".html_safe, cg.user_story.name.html_safe,"</li>".html_safe] }) %>
          </ul>
      <% else %>
      <% end %>


      <% if  @thistemplate.additional_requirements.blank? == false %>
      <hr>
        <h4>Additional requirements</h4>
        <p><%= @thistemplate.additional_requirements.html_safe %></p>
      <% else %>
      <% end %>

      <% if  @thistemplate.client_dependencies == false %>
      <hr>
        <h4>Dependencies & Questions</h4>
        <p><%= @thistemplate.client_dependencies.html_safe %></p>
      <% else %>
      <% end %>



        <!-- <h5>Pages Using This Template</h5> -->
        <%# @pages = PageTemplateMappings.order(:page_id).includes(:page).references(:page).where template_id: @thistemplate.id %>
        <ol style="margin-top:30px;">
          <!-- top version includes component instance ID for debugging -->
          <%#= safe_join ( @cinstance.all.map { |x| ["<li>".html_safe, x.id, " ", link_to(x.component.name, text_item_index_path(:id => x.component.id, :instance => x.id, :template => x.template.id, :page => @thispage.id, :site => @site.id)),"</li>".html_safe] }) %>
          <%#= safe_join ( @pages.all.map { |a| ["<li>".html_safe, link_to(a.page.name, page_path(:id => a.page.id, :site => @site.id)),"</li>".html_safe] }) %>
        </ol>
<!--
        <% @thistemplate.components.each do |c| %>
            <a id="<%= c.name %>"></a>
            <h3><%= c.name %> <small class="text-muted">Component</small></h3>

            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Attribute</th>
                  <th scope="col">Description</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">Personalization</td>
                  <td><i><%= c.personalization_rules %></i></td>
                </tr>
                <tr>
                  <td scope="row">Goal</td>
                  <td><i><%= c.goal %></i></td>
                </tr>
                <tr>
                  <td scope="row">CTA</td>
                  <td><i><%= c.cta %></i></td>
                </tr>
              </tbody>
            </table>



        <% end %> -->



		</div>
	</div>
  	<hr>
  <div class="row">
    <div class="col-sm">

        <%= render "footer" %>

    </div>
  </div>
