<% @site = Site.find(params[:id]) %>
<% @templatelist = ::Template.joins( :site_template_mappings ).where( site_template_mappings: { site_id: (params[:id]) }).order(:name) %>

  <div class="row">
    <!-- left column -->
		<div class="col-sm-3">

      <%= render "siteContentModel" %>

      <hr>

      <h5>Template Index</h5>

      <ol>
  <% @templatelist.each do |tl| %>
        <li>

          <%= link_to tl.name, templatedetail_path(:id => tl.id, :site => @site.id) %>

        </li>
        <% end %>
      </ol>

      <%= render "contentmodelgroups" %>


		</div>
    <!-- right column -->
		<div class="col-sm-9">
      <h1>Templates<small class="text-muted"> <%= @site.name %></small></h1>
      <%= link_to "Visual Design Table of Contents", "https://rightpoint.invisionapp.com/share/T2MSV1YYPS4#/screens/299954157_TOC", :class => "btn btn-info", target: "_blank" %>


          <p>

            <div class="container-fluid mt-4">
            <div class="row justify-content-center">

                  <% @templatelist.each do |tl| %>
                  <div class="col-auto mb-3">
                    <div class="card" style="width: 15rem;">

                    <div class="card-body">
                    <%= link_to tl.name, templatedetail_path(:id => tl.id, :site => @site.id) %>

                        <% @cinstance = TemplateComponent.order(:position).includes(:component, :template).references(:component, :template).where ({template_id: tl.id}) %>

                        <% @cinstance.each do |c| %>
                          <div style="margin-bottom:1px; padding-left:5px;background-color:<%= c.component.component_group.color %>;">
                            <small><%= c.component.name %></small>

                          </div>
                        <% end%>
                      </div>

                    </div>
                  </div>
                  <% end %>
            </div>
            </div>





    </div>




    </div>



  	<hr>
  <div class="row">
    <div class="col-sm">

        <%= render "footer" %>

    </div>
  </div>
