

  <div class="row">
    <!-- left column -->
		<div class="col-sm-4">

      <%= render "siteContentModel" %>


		</div>
    <!-- right column -->
		<div class="col-sm-8">
      <% @templatelist = ::Template.joins( :site_template_mappings ).where( site_template_mappings: { site_id: (params[:id]) }).order(:name) %>
      <% @site = Site.find(params[:id]) %>
      <h1>Template List<small class="text-muted"> <%= @site.name %></small></h1>
      <% @templatelist.each do |tl| %>
      <div class="row">
        <div class="col-8 col-sm-8">
          <div class="card border-secondary mb-3">
            <h3 class="card-header"><%= link_to tl.name, templatedetail_path(tl.id) %>
              <% if tl.existing == true %>
              <span class="badge badge-light">Existing</span>
              <% else %>
              <% end %>
              <small class="text-muted">Page Template</small>
            </h3>
            <ul class="list-group list-group-flush">
              <li class="list-group-item disabled">Components</li>
              <% tl.components.each do |n| %>
              <li class="list-group-item"><%= n.name %>
                <% if n.existing == true %>
                <span class="badge badge-light">Existing</span>
                <% else %>
                <% end %>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="col-8 col-sm-2">
          <img style="margin-top:30px;" src="<%= tl.image %>" height="200">
        </div>
      </div>



      <% end %>
    </div>


	</div>
  	<hr>
  <div class="row">
    <div class="col-xs-12">

        <%= render "footer" %>

    </div>
  </div>
