
<%= div_for pagetextitem do %>

  <%= pagetextitem.name %>: <strong><%= pagetextitem.itemtext %></strong>
  <%= link_to "(remove)", pagetextitem, method: :delete, data: {confirm: "Are you sure?"} %>
  <%= link_to "(update)", text_item_path(pagetextitem), remote: true %>
  <div id="form<%= pagetextitem.id %>" style="display:none;">
    <%= form_for pagetextitem, url: "/text_item/#{pagetextitem.id}", remote: true do |f| %>
      <%= f.hidden_field :_method, value: "patch" %>
      <%= f.hidden_field :id, value: pagetextitem.id %>
      <%= f.hidden_field :text_id, value: pagetextitem.text_id %>
      <%= f.hidden_field :component_id, :value => pagetextitem.component_id %>
      <%= f.hidden_field :page_id, :value => pagetextitem.page_id %>
      <%= f.hidden_field :order, :value => pagetextitem.order %>
      <%= f.hidden_field :name, :value => pagetextitem.name %>
      <%= f.text_field :itemtext %>
      <%= f.submit "Update" %>
    <% end %>
  </div>

<% end %>
