<!DOCTYPE html>
<html>
  <head>
    <title>Content Model</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
          <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
          </script>
        <![endif]-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional Bootstrap theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <style type="text/css">
        body{
        	padding-top: 70px;
        }
    </style>
  </head>

  <body>
    <nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Content Model</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Home", home_path %></li>
            <li class="dropdown">
              <a data-target="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Migration & Publishing <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Taxonomy", taxonomy_path %></li>
                <li><%= link_to "Sitemap", site_path %></li>
                <li role="separator" class="divider"></li>
                <li style="padding-left:20px;"><strong>TBD</strong></li>
                <li><a href="#">Content Mapping</a></li>
                <li><a href="#">Creation, Edit, Update Process</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a data-target="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Creation <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Templates", templates_path %></li>
                <li><%= link_to "Workflows", workflows_path %></li>
                <li role="separator" class="divider"></li>
                <li style="padding-left:20px;"><strong>TBD</strong></li>
                <li><a href="#">Messaging Hierarchy</a></li>
                <li><a href="#">SEO</a></li>
              </ul>
            <li><%= link_to "Governance", home_path %></li>
            <li><%= link_to "Measurement", home_path %></li>
            <!-- <li><%= link_to "Workflows", workflows_path %></li> -->
            <li><a href="/admin">Admin</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">

    <%= yield %>

  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
