<!DOCTYPE html>
<html>
  <head>
    <title>Content Cookbook | Johnson Controls</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
          <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
          </script>
        <![endif]-->
    <style type="text/css">
        body{
        	padding-top: 70px;
        }
    </style>
    <meta charset="utf-8">

    <!-- Google Tag Manager -->
    <% if Rails.env.production? %>
    <script>
    document.addEventListener('turbolinks:load', function(event) {
      var url = event.data.url;  dataLayer.push({
        'event':'pageView',
        'virtualUrl': url
      });
    });(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P76GQ78');
    </script>
    <% end %>
    <!-- End Google Tag Manager -->

  </head>

  <body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P76GQ78"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <nav id="myNavbar" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

        <%= link_to image_tag("http://contentmodel-jci-assets.s3.amazonaws.com/images/jci_logo_black_and_white.png", :alt => "Johnson Controls Content Plan", :style => "height:30px; margin: 0px 20px 0px 0px;") + "Content Cookbook", home_path, :class => "navbar-brand" %>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <ul class="nav navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Migration & Publishing</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <%#= link_to "Legacy Site List", legacysites_path, class: "dropdown-item" %>
                <%= link_to "Sitemap", sitemapdetail_path(1), class: "dropdown-item" %>
                <%= link_to "Taxonomy", taxonomysite_path(1), class: "dropdown-item" %>
                <%= link_to "Web Footprint (Sites)", webfootprint_path, class: "dropdown-item" %>
                <%#= link_to "Content Mapping", contentmapping_path, class: "dropdown-item" %>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Creation</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <%= link_to "Content Model", templates_path, class: "dropdown-item" %>
                <%= link_to "Component List", components_path, class: "dropdown-item" %>
                <%#= link_to "Flows", flowdetail_path(1), class: "dropdown-item" %>
                <%= link_to "Messaging Hierarchy", messagingdetail_path(1), class: "dropdown-item" %>
                <!-- <a class="dropdown-item" href="#">SEO</a> -->
              </div>
            <!-- <li class="nav-item"><a class="nav-link" href="#">Governance</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Measurement</a></li> -->
            <li class="nav-item"><a class="nav-link" href="/admin">Admin</a></li>
          </ul>

            <span class="navbar-text">
              <small>
              <% if admin_user_signed_in? %>
                Logged in as <strong><% if current_admin_user.first_name? %><%= current_admin_user.first_name %> <%= current_admin_user.last_name %><% else %><%= current_admin_user.email %><% end %></strong>
                <%#= link_to 'Edit profile', edit_admin_user_password_path, :class => 'navbar-link' %> |
                <%= link_to "Logout", destroy_admin_user_session_path, method: :delete, :class => 'navbar-link'  %>
              <% else %>
                <%= link_to "Sign up", new_admin_user_registration_path, :class => 'navbar-link'  %> |
                <%= link_to "Login", new_admin_user_session_path, :class => 'navbar-link'  %>
              <% end %></small>
            </span>
            <!-- </li> -->

            <!-- Alternative display of logged-in state; reference: https://guides.railsgirls.com/devise -->
            <!-- <p class="navbar-text pull-right"><small>
              <% if admin_user_signed_in? %>
                Logged in as <strong><%= current_admin_user.email %></strong>
                <%#= link_to 'Edit profile', edit_admin_user_password_path, :class => 'navbar-link' %> |
                <%= link_to "Logout", destroy_admin_user_session_path, method: :delete, :class => 'navbar-link'  %>
              <% else %>
                <%= link_to "Sign up", new_admin_user_registration_path, :class => 'navbar-link'  %> |
                <%= link_to "Login", new_admin_user_session_path, :class => 'navbar-link'  %>
              <% end %>
            </small></p> -->
        </div>
      </div>
    </nav>

    <div class="container">

      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

    <%= yield %>

  </div>
  </body>
</html>
